nav {
  background-color: #345670; }
  nav .navbar-brand {
    padding: 0; }
  nav li {
    background-color: none;
    transition: background-color 1s; }
    nav li:hover {
      background-color: rgba(36, 64, 85, 0.639);
      border-radius: 3px; }

.portada {
  background-image: url("../images/code.jpg");
  min-height: 100vh;
  background-size: cover; }
  .portada .titulo {
    width: 50%;
    min-height: 90Vh; }

main section {
  width: 50%;
  min-height: 90Vh; }

main .card {
  width: 400px; }

main form {
  width: 50%;
  min-height: 90Vh; }

footer p {
  margin: 0; }

@media (max-width: 540px) {
  .portada .titulo {
    margin: 0px; }
    .portada .titulo img {
      width: 200px; }
  main {
    width: 100vw; }
    main .cards {
      flex-direction: column; }
      main .cards .card {
        width: 100%; }
    main form {
      width: 100%; } }
