* {
    overflow: hidden;
}
body {
    grid-template-rows: 5vh 85vh 10vh;
}
main section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
}
main section h2 {
    padding: 25px 25px 0px 25px;
}
main section article {
    border: #e0e0e0 solid 1px;
    border-radius: 3px;
    margin: 25px;
    grid-row: 2/2;
    display: grid;
    grid-template-rows: 70% 10% 20%;
}
main section article img {
    max-width: 100%;
}
main section article h3 {
    background-color: #fafafa;
    padding: 25px 15px 0px 15px;
}
main section article p {
    background-color: #fafafa;
    padding: 0px 15px 15px 15px;
}