main {
    width: 80vw;
}
section {
    min-height: 75vh;
}
form {
    width: 50%;
}

.navbar-brand > img {
    max-height: 35px;
}
.portada {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/code.jpg");
    background-size: cover;   
}
.titulo {
    width: 45%;
    height: 80%;
}